*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
    color: white;
    
}

html, body{
    width: 100%;
    height: 100%;
}
#minicircle{
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 999999;
    border-radius: 50%;
    background-color: white;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;

}

.bounding {
    width: fit-content;
    overflow: hidden;
    
}
.bounding .boundingelem{
    transform: translateY(100%);
}
#main{
    width: 100%;
    background-color: black;
}
#hero{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
    
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px 40px;
    color: white;
   
    
}
#nav a {
    color: white;
    text-decoration: none;
    font-size: 28px;
    
}
#nav h4{
    font-size: 22px;
}
#heading{
    color: white;
    margin-top: 120px;
}
#heading h1{
    font-size: 10vw;
    text-transform: uppercase;
    font-family: "General Sans Medium";
    opacity: 0.6;
    font-weight: 900;
    line-height: 1;
    margin-left: 60px;
    
}
#heading #second1{
    margin-left: 300px;
}
.blocktext {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
    
}
.blocktext h5{
    text-align: right;
    text-transform: uppercase;
    font-size:1.5em ;
    margin-top: 0%;
    padding-top: 0%;
    
}
#chottiheadings{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 18vh;
    padding-right: 50px;
     
}
#chottiheadings h5 {
    text-transform: uppercase;
    margin-top: .5vw;
    text-align: right;
    font-size: 1.5em;
    font-weight: 900;
    
    
}
#herofooter{
    padding: 0 2vh;
    width: 100%;
    position: absolute;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#herofooter a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
}
#herofooter .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
    border-radius: 50%;
    background-color: #888;
    padding: 9px;
}
#herofooter #iconset{
    display: flex;
    gap: 5px;
    
}
#second{
    padding-top: 40vh;
    padding-left: 4vh;
    width: 100%;
    background-color: black;
}
.elem {
    width: 90%;
    border-top: 1px solid #888;
    padding: 3.5vw 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0;
    position: relative;

}
.elem h1{
    text-transform: uppercase;
    font-size: 7.6vw;
    opacity:.7;
    
}
.elemlast{
    border-bottom: 1px solid #888;
}
.elem img {
    height: 140%;
    z-index: 999;
    position:absolute;
    opacity: 0;
   
}
#about{
    width: 100%;
    background-color: black;
    padding: 15vw;
    padding-top: 18vw;
    display: flex;
    align-items: center;
    gap: 50px;
    padding-left: 40vw;
}
#about img{
    width: 350px;
}

#textabout h5{
    text-transform: uppercase;
    opacity: .7;
    padding-left: 2rem;
    margin-bottom: 10px;
    font-size: 22px;
    
}
#textabout p {
    padding-left: 2rem;
    line-height: 1.7;
    margin-bottom: 30px;
    font-size: 25px;
}
#textabout a {
    margin-left: 2rem;
    border-radius: 100px;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    text-decoration: 12px;
    padding: 12px 22px;
    font-size: 20px;

}
#bottom {
    background-color: black;
    padding: 20px 30px;
    padding-bottom: 200px;
}
#bottom h5 {
    text-transform: uppercase;
    opacity: .7;
    font-size: 20px;
}
#bottom h3{
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 10px;
}
#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: black;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
#footerleft {
    display: flex;
    gap: 40px;
}
#footerleft h5{
    font-size: 24px;
}
#footerright {
    display: flex;
    gap: 50px;
}
#footer a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;


}